.hidden {
  display: none !important;
}

body {
  margin: 0;
  font-family: "Google Sans";
}

/* header */
header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  /* background: gold; */
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 24px;
}

/* settings */
.setting-outer summary::before {
  background: black;
  opacity: 0.2;
}
.setting-icon {
  cursor: pointer;
  padding: 4px;
}
.setting-icon path,
.setting-icon circle {
  fill: black;
}
.setting-container {
  position: absolute;
  top: 0;
  right: 0;
  /* background: rgb(0, 13, 255); */
  width: 348px;
  height: 100vh;
  background: #fff;
}
@keyframes slide-in-to-left {
  from {
    transform: translateX(100%);
  }
}
.setting-outer[open] .setting-container {
  animation: slide-in-to-left 0.6s cubic-bezier(0.47, -0.03, 0, 0.94);
}
.setting-header {
  box-sizing: border-box;
  height: 60px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.setting-close-button {
  border: none;
  border-radius: 30px;
  padding: 4px;
  cursor: pointer;
  background: transparent;
}
.setting-close-button svg {
  vertical-align: bottom;
}
.setting-main{
  padding-top: 16px;
}
.setting-content-box {
  padding: 8px 24px 12px;
}
.setting-content-box h3 {
  margin: 0;
  color: rgb(199, 199, 199);
}
.setting-content-box h3 + .setting-row {
  margin-top: 4px;
}
[class*="setting-row"] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
}
.setting-container select {
  border: 1px gray solid;
  border-radius: 4px;
  outline: none;
  padding: 2px;
  cursor: pointer;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* timer area */
.timer-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
  cursor: pointer;
  color: #111;
}
.time-wrapper {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
.time-wrapper > div {
  display: inline-block;
}
.time-number {
  font-family: "Roboto Mono", sans-serif;
  padding: 0 16px;
  text-align: center;
}

/* button area */
.button-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button-wrapper + .button-wrapper {
  margin-left: 8px;
}
[class*="operation-button"] {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.operation-button-reset {
  background: var(--red-100);
}
.operation-button-reset:hover {
  background: rgb(249, 20, 20);
}
.operation-button-toggle {
  background: var(--blue-100);
  box-shadow: inset 0 0 0 1.5px var(--blue-100);
  /* transition: 0.2s; */
}
.operation-button-toggle.running {
  background: rgb(255, 255, 255);
}
.operation-button-toggle.running path {
  fill: var(--blue-100);
}
[class*="operation-button"] path {
  fill: #fff;
}
@keyframes popup-show {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
}
details[open] > .fade-in {
  animation: popup-show 0.4s;
}
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
details[open] summary::before {
  content: "";
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.relative-container {
  position: relative;
}

/* reset confirm popup */
#reset-confirm-popup {
  display: grid;
  grid-template-columns: auto 40px;
  gap: 16px;
  background: rgb(255, 255, 255);
  width: 184px;
  border-radius: 8px;
  padding: 16px;
  position: absolute;
  top: -40px;
  left: 0;
  transform: translateX(-104%);
  z-index: 100;
  box-shadow: 0 1px 3px rgba(83, 83, 83, 0.478),
    0 2px 2px rgba(38, 38, 38, 0.145);
}
.popup-title {
  font-size: 1.4rem;
  font-weight: bold;
}
.popup-close-button {
  cursor: pointer;
  justify-self: right;
  padding: 8px;
  border-radius: 16px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -4px -4px 0 0;
}
.popup-close-button:hover {
  background: rgb(224, 224, 224);
}
.reset-confirm-button-reset {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px rgb(151, 151, 151) solid;
  background: rgb(255, 255, 255);
  color: var(--red-100);
  font-size: 14px;
}
.reset-confirm-button-reset:hover {
  color: #fff;
  background: var(--red-100);
  border-color: var(--red-100);
}

/* styles for half-window */
@media screen and (width < 1000px) {
  .timer-box {
    font-size: 6rem;
  }
}
/* styles for mobile */
@media screen and (width < 600px) {
  .timer-box {
    font-size: 3rem;
  }
  #reset-confirm-popup {
    top: 8px;
    left: 0;
    transform: translateX(-50%);
  }
}
