:root {
  --primary-bg-color: #fff;
  --popup-bg-color: #fff;
  --popup-box-shadow: 0 1px 3px rgba(83, 83, 83, 0.478),
    0 2px 2px rgba(38, 38, 38, 0.145);
  --select-box-bg-color: #fff;
  --primary-text-color: #111;
  --secondary-text-color: #444;
  --material-red: rgb(212, 21, 21);
  --material-blue: rgb(45, 103, 164);
  --material-white: #fff;

  --button-border-color: rgb(182, 182, 182);
  --border-1px: 1px gray solid;
}

html[theme="dark"] {
  --primary-bg-color: #111;
  --popup-bg-color: rgb(25, 25, 25);
  --popup-box-shadow: none;
  --select-box-bg-color: rgb(40, 40, 40);
  --primary-text-color: rgb(209, 209, 209);
  --secondary-text-color: rgb(163, 163, 163);
  --material-red: rgb(182, 29, 29);
  --material-blue: rgb(45, 91, 140);
  --material-white: #fff;

  --button-border-color: rgb(51, 51, 51);
  --border-1px: none;
}
